{% extends "layout.html" %}

{% block title %}Спроси{% endblock %}

{% load static %}
{% block head %}
<script src="{% static 'js/consultant.js' %}"></script>
{% endblock %}

{% block body %}
<div class="col-11 col-md-10 col-lg-7 col-xl-6 col-xxl-5">
    <div style="height: 50px;"></div>
    <h5>Сложно быть родителем? Получи ответ на свой вопрос!</h5>
    <h5>Мы используем базу знаний, составленную экспертами</h5>
    <div style="height: 60px;"></div>
    <div class="request-block">
        <input id="questionInput" placeholder="Спроси" maxlength="500">
        <button id="requestButton" class="button-task concealed" disabled>
            <span>Спросить</span>
        </button>
    </div>
    <div id="answerBlock" class="concealed mt-3">
        <div id="messageBlock" class="text-block mb-4"></div>
        <a id="sourceLink" target="_blank"></a>
    </div>
</div>
{% endblock %}
