{% extends "layout.html" %}

{% block title %}Редактирование{% endblock %}

{% load static %}
{% block head %}
<script src="{% static 'js/edit_article.js' %}"></script>
{% endblock %}

{% block body %}
<div class="col-12 col-lg-10 col-xl-9 col-xxl-8">
    <h5>Редактирование статьи</h5>
    <div class="mx-2" style="height: 50px;" align="left">
        <button id="buttonSave" class="button-task concealed" style="float: left;" disabled>
            <span>Сохранить</span>
        </button>
        <button id="buttonDelete" class="button-task concealed" style="float: right;" disabled>
            <span>Удалить</span>
        </button>
    </div>
    <div class="mt-4"></div>
    <input id="idInput" value="{{ article.id }}" hidden>
    <input id="titleInput" placeholder="Заголовок" maxlength="200" value="{{ article.title }}">
    <div class="mt-3"></div>
    <input id="hrefInput" placeholder="Ссылка" maxlength="200" value="{{ article.href }}">
    <div class="mt-5"></div>
    <textarea id="contentInput" placeholder="Текст" maxlength="10000">{{ article.content }}</textarea>
    <div class="mt-5"></div>
    <a href="/articles">Все статьи</a>
</div>
{% endblock %}
