{% extends "layout.html" %}

{% block title %}Панель менеджера{% endblock %}

{% load static %}
{% block head %}
<script src="{% static 'js/login.js' %}"></script>
{% endblock %}

{% block body %}
<div class="col-11 col-md-10 col-lg-7 col-xl-6 col-xxl-5">
    <div style="height: 100px;"></div>
    <h5>Вход в панель менеджера</h5>
    <div class="mt-5"></div>
    <input id="usernameInput" value="manager" hidden>
    <div class="request-block">
        <input id="passwordInput" placeholder="Пароль" maxlength="200">
        <button id="requestButton" class="button-task concealed" onclick="login('/articles')" disabled>
            <span>Войти</span>
        </button>
    </div>
    <span id="passwordMessage" class="form-msg concealed"></span>
</div>
{% endblock %}
