.button-task {
    position: relative;
}
.button-task-wait > span {
    visibility: hidden;
    opacity: 0;
}
.button-task-hidden > span {
    visibility: hidden;
    opacity: 0;
}
.button-task-wait::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 30px;
    height: 30px;
    border: 6px solid transparent;
    border-top-color: var(--c-button-text);
    border-radius: 50%;
    animation: fadeIn 4s, spin 1.3s linear infinite;
}

@keyframes fadeIn {
    0% { opacity: 0.3; }
    100% { opacity: 1; }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
